@import 'tailwindcss';
@import 'vant/lib/index.css';
@import './icons/icon.css';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.font-smiley {
  font-family: 'Smiley Sans', cursive;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

* {
  font-family: 'Inter', sans-serif;
  transition: all 0.3s ease-in-out;
}
